footer {
    background: linear-gradient(to bottom,#00000000, #000000);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
}

#copyright{
    font-weight: 600;
}


@media screen and (max-width: 600px){

     #footer_items {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

}