#home {
    display: flex;
    min-width: calc(100vh - 92px);
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
}

#cta  {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #EAECEE;
}

#cta .title span{
    color: #8000FF;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 23px;
}

#cta_buttons a{
    text-decoration: none;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img{
    height: 100%;
    width: fit-content;
}


.shape{
    /*background-color: #02020388;*/
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
    
}


@media screen and (max-width: 1170px) {
    
    #home{
        min-width: 100%;
        min-height: 100%;
        padding-top: 0px;
    }
    
    #banner, #banner img, #banner .shape{
        display: none;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }

}
